* {
    box-sizing: border-box;
    margin: 0;
}
/* page-head */
header {
    background-image: url('../img/pattern.png');
    background-color: rgb(76, 132, 206);
    background-size: auto 100%;
    padding-top: 30px;
    padding-left: 16px;
}
.logo {
    height: 50px;
    margin-left: 10px;
    margin-top: 70px;
}
/* introduction */
.main-title {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 50px;
}
.main-title-subject, .article-date {
    color: grey;
    margin-left: 10px;
}
.main-title-subject {
    font-size: 20px;
}
#subject-name {
    color: rgb(91, 171, 232);
}
.tim-pic-1, .tim-pic-2 {
    height: 480px;
    margin-top: 25px;
    margin-left: 10px;
}
figcaption {
    margin-left: 10px;
}
/* content-text */
.text-highlight {
    background-color: yellow;
}
.main-text > p {
    margin-top: 10px;
    margin-bottom: 10px;
}
/* table  */
table {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    border-collapse: collapse;
    
}
thead {
    color: white;
    background-color: rgb(76, 132, 206);
}
th {
   width: 20%;
}
.long-content {
   width: 60%;
}
.important-data {
    background-color: lightblue;
}
/* aside */
.aside-title {
    color: grey;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.aside-img-1 {
    background-image: url('../img/monitor.jpg');
    width: 312px;
    height: 208px;
}
.aside-img-2 {
    background-image: url('../img/graph.jpg');
    width: 311px;
    height: 207px;
    margin-top: 10px;
}
.aside-img-title {
    color: white;
    text-decoration: none;
    font-size: 25px;
}